body {
    line-height: 1.6;
    /* margin: 2em; */
}

th {
    background-color: #223e9c;
    color: #fff;
    padding: 0.5em 1em;
}

td {
    border-top: 1px solid #eee;
    padding: 0.5em 1em;
}

input {
    cursor: pointer;
}

/* Column types */
.name-col {
    text-align: left;
}