.mainProg{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: pop;
    flex-direction: column;
    margin-top: -30%;
    margin-bottom: -20%;
}
.ulProg{
    display: flex;
    margin-top: 80px;
}
.ulProg .liProg{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ulProg .liProg .icon{
    font-size: 35px;
    color: #ff4732;
    margin: 0 60px;
}
.ulProg .liProg .text{
    font-size: 14px;
    font-weight: 600;
    color: #ff4732;
}

/* Progress Div Css  */

.ulProg .liProg .progress{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(68, 68, 68, 0.781);
    margin: 14px 0;
    display: grid;
    place-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
    border: 2px solid rgba(68, 68, 68, 0.781);
}
.progress::after{
    content: " ";
    position: absolute;
    width: 125px;
    height: 5px;
    background-color: rgba(68, 68, 68, 0.781);
    right: 30px;
}
.one::after{
    width: 0;
    height: 0;
}
.ulProg .liProg .progress .uil{
    display: none;
}
.ulProg .liProg .progress p{
    font-size: 13px;
}

.ulProg .liProg .progress p {
    display: none;
}
.ulProg .liProg .progress i {
    display: block;
}

.ulProg .liProg .text {
    display: none;
}
.one .text:after {
    content: "Add To Cart";
}
.two .text:after {
    content: "Fill Details";
}
.three .text:after {
    content: "Make Payment";
}

/* Active Css  */

.ulProg .liProg .active{
    background-color: #ff4732;
    display: grid;
    place-items: center;
}
.liProg .active::after{
    background-color: #ff4732;
}
.ulProg .liProg .active p{
    display: none;
}
.ulProg .liProg .active .uil{
    font-size: 20px;
    display: flex;
}

/* Responsive Css  */

@media (max-width: 980px) {
    .ulProg{
        flex-direction: column;
    }
    .ulProg .liProg{
        flex-direction: row;
    }
    .ulProg .liProg .progress{
        margin: 0 30px;
    }
    .progress::after{
        width: 5px;
        height: 55px;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
    .one::after{
        height: 0;
    }
    .ulProg .liProg .icon{
        margin: 15px 0;
    }
}

@media (max-width:600px) {
    .headProg .headProgOne{
        font-size: 24px;
    }
    .headProg .headProgtwo{
        font-size: 16px;
    }
}
